
<div class="homepage_content">
  <h1>Welcome to Music STORE!</h1>

  <!-- <img id="frontpage_image" src="http://i2.cdn.cnn.com/cnnnext/dam/assets/140716132603-5-harry-potter-osaka-horizontal-large-gallery.jpg" alt=""> -->

  <p> RANDOM PEICE OF TEXT </p>

  <form action="/artists">
    <input type="submit" value="Show all Artist" />
  </form>
  <form action="/albums">
    <input type="submit" value="Show all Albums" />
  </form>


  <%= erb(:artists) %> 

</div>


