
<div class="homepage_content">
  <h1>Welcome to Music STORE!</h1>

  <form action="/artists">
    <input type="submit" value="Show all Artist" />
  </form>
  <form action="/albums">
    <input type="submit" value="Show all Albums" />
  </form>
 TEMP LIST
  <%= erb(:'artist/artists') %> 

  
</div>


