<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/talbe-buttons.css">
    <link rel="stylesheet" href="/styles/gallery.css">
    <link href='fonts/Ailerons' rel='stylesheet'>

    
    <title></title>
    
  </head>
  <body>
    <nav class="navigation">
      <ul>
        <li class="not-hide"><a href="/">Home</a></li>
        <li class="not-hide"><a href="/albums">Inventory</a></li>
        <li class="not-hide"><a href="/artists">Artists</a></li>
        <li class="not-hide"><a href="/artists/new">Add Stock</a></li>
        <li><a href="/error/404"></a></li>
        <li><a href="/error/404"></a></li>
        <li><a href="/error/404"></a></li>
        <li><a href="/error/404"></a></li>
      </ul>
    </nav>
   
<%= yield %>

   </body>

 </html>
