<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
      <link rel="stylesheet" href="/styles/error.css">
    <title></title>
  </head>

  <body>

    <div>
      <p>oops.. let me take you back..</p>
    </div>

    <meta http-equiv="refresh" content="2;url=/albums" />

  </body>

 </html>
