<div class="artist_list">
<% for artist in @artists %>


   <h1 class="name-artist">
    <%= artist.name()%>
   </h1>

   <h1 class="name-line">
    <hr>
   </h1>

   <p class="bio">
    <%= artist.bio()%>
   </p>

 <% end %>
 <div>
