<form method="post" action="/artists">
<center>
  <label for="artist-name">Name:</label>
  <input id="artist-name" type="text" name="name"/>
<br/>
  <label for="bio-text">Bio:</label>
  <input id="bio-text" type="text" name="bio" />

<input type="submit" value="Add Artist"/>

 </center>
</form>
