<form class="artist_form" method="post" action="/artists">

<h2 class="blur_bold">Give me the Artist details</h2><br/>

  <label for="artist-name">Name:</label>
  <input id="artist-name" type="text" name="name"/>


  <label for="bio-text">Bio:</label>
  <input id="bio-text" type="text" name="bio" />

  <br/>
  <br/>

<input class="btt-submit-album"type="submit" class="test_buttom" value="Add Artist"/>
<a class="button" href="../albums/new">SKIP TO ALBUMS</a>

</form>
