<form class="artist_form" method="post" action="/artists">

<p>please add your artist to the database..</p>

  <label for="artist-name">Name:</label>
  <input id="artist-name" type="text" name="name"/>


  <label for="bio-text">Bio:</label>
  <input id="bio-text" type="text" name="bio" />


<input type="submit" class="test_buttom" value="Add Artist"/>

<br/>
<br/>
<a class="button" href="../albums/new">go to add albums</a>

</form>
