ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%;
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: rgba(255,255,255,0.6);
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

ul.rig.columns-3 li {
  width: 21.7%; 
}

h3 {
  color:black;
}
 
@media (max-width: 1080px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important;
    margin: 0 0 20px;
  }
}

.box-left {
  color: black;
  float: left;
  font-family: Karla-Italic;
}

.box-right {
  color: black;
  float: right;
  font-family: Karla-Italic;
}