  @font-face {
      font-family: "Ailerons";
      src: url(../fonts/Ailerons-Typeface.otf) format("truetype");
  }

  @font-face {
      font-family: "Corner-Regular";
      src: url(../fonts/Corner-Regular.otf) format("truetype");
  }

  @font-face {
      font-family: "Karla-Regular";
      src: url(../fonts/Karla-Regular.ttf) format("truetype");
  }

  @font-face {
      font-family: "Karla-Italic";
      src: url(../fonts/Karla-Italic.ttf) format("truetype");
  }

  @font-face {
      font-family: "Rajdhani-Regular";
      src: url(../fonts/Rajdhani-Regular.ttf) format("truetype");
  }

.p-font {
  font-family: "Rajdhani-Regular";
  font-color: rgba(255,255,255,1.5);
  color: white;
}



body {
  font-family: "Karla-Regular", Monaco, monospace;
  color: white;
  margin: 0px;
  background: black url('/images/background.jpg');
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.btt-sm-edit {
  display: inline-block;
  background-color: transparent;
  border-radius: 3px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.btt-sm-edit:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
}

.blur {
   color: transparent;
   text-shadow: 0 0 1px rgba(255,255,255,1.5);
   text-align: center;
   font-family: "Karla-Regular";
   margin-top: 0px;
}

.blur_bold {
   color: transparent;
   text-shadow: 0 0 1px rgba(255,255,255,1);
   text-align: center;
   margin-top: 0px;
}

.blur_bolder {
   color: transparent;
   text-shadow: 0 0 1px rgba(255,255,255,0.8);
   text-align: center;
   margin-top: 0px;

}

.blur_bold-small {
  color: transparent;
  text-shadow: 0 0 1px rgba(255,255,255,1);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.btt-submit-album {
  font-size: 17px;

  display: inline-block;
  background-color: transparent;
  width: 200px;
  padding: 8px;
  margin: 5px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.btt-submit-album:hover,
.btt-submit-album:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.album_table, th, td {
    border:  0px solid black;
    width: 75%;
    background: rgba(0,0,0,0.2);
    font-color: white;
    color: white;
    border-radius: 3px;
    font-family: Karla-Regular;

  }
#content {
  width: 65%;
}
.table-indent {
  padding-left: 6px;
}

.edit-page-details {
  font-family: "Corner-Regular";
  font-size: 21px;
}

.hide-sold {
  display: none;
}

.album_picture {
  border-radius: 10px;
  box-shadow: 15px 5px 10px 10px rgba(0,0,0,0.4);
  float: left;
  width: 22%;
  margin-left: 14%;
  margin-right: 35px;
  padding-right: 0px;
  margin-bottom: 10px;
  display: inline-block;
}

.update_form, ul {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  margin-top: 4%;
  text-align: left;
  margin-left: 10%;

}

.redirect {
  text-align: center;
  font-size: 26px;
  color: transparent;
  text-shadow: 0 0 1px rgba(255,255,255,1.5);
}

.artist_form {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.class_button {
  display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.button {
  display: inline-block;
  font-size: 17px;
  margin: 5px;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.button:hover,
.button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}



.button_artist {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  font-family: "Rajdhani-Regular";
  text-decoration: none;
  bottom: 10px;
  position: relative;

  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.button_artist:hover,
.button_artist:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.name {
  width: 20%;
}*/



.box-name-list-left {
  text-align: left;
  float: left;
  width: 38%;
  color: white;
  font-family: "Ailerons", Times, serif;
}

.h1-box-name-list-left {
  text-align: left;
  float: left;
  width: 28%;
  color: white;
  font-family: "Ailerons", Times, serif;
}

.box-line-list-left {
  float: right;
  width: 72%;
  padding-top: 21px;
}

.box-bio-list-left {
  float: right;
  text-align: justify;
  color: white;
  font-family: Rajdhani-Regular;
  text-transform: uppercase;
  padding-bottom: 30px
}


.box-name-list-right {
  text-align: right;
  float: right;
  width: 28%;
  color: white;
  font-family: "Ailerons", Times, serif;
}

.h1-box-name-list-right {
  text-align: right;
  float: right;

  color: white;
  font-family: "Ailerons", Times, serif;
}

.box-line-list-right {
  float: left;
  width: 72%;
  padding-top: 22px;
}

.box-bio-list-right {
  float: left;
  text-align: justify;
  color: white;
  font-family: Rajdhani-Regular;
  text-transform: uppercase;
  padding-bottom: 30px
}
.artist_list {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  font-family: "Ailerons", Times, serif;
}


/*+++++menu bar screen+++++*/

nav {
  max-width: 90%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0;
  padding: 5px;
  overflow:hidden;

}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);


}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  
}

.not-hide:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

