<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <link href='fonts/Ailerons' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/gallery.theme.css">
    <link rel="stylesheet" href="/styles/gallery.min.css">
    <title></title>
    
  </head>
  <body class="body-gallery">
  </body>

</html>