<form method="post" action="/albums">

  <center>
  <h1 class="blur_bold">Let's fill in the Album details</h1><br/>

  <label for="title-name">Title:</label>
  <input id="title-name" type="text" name="title"/>

  <br/><br/>

<label for="artist-select">Select a Artist:</label>
    <select id="artist-select" name="artist_id">
      <% @artists.each do|artist|%>
    <option value="<%=artist.id%>">
      <%=artist.name%>
    </option>
      <%end%>
    </select>

<label for="genre-select">Select a Genre:</label>
    <select id="genre-select" name="genre_id">
      <% @genres.each do|genre|%>
    <option value="<%=genre.id%>">
      <%=genre.type%>
    </option>
      <%end%>
     </select>
    <br/><br/>

   <label for="art">Artwork URL:</label>
   <input id="art" type="text" name="artwork"/>
    <hl/>
   <label for="quantity">Quantity:</label>
   <input id="quantity" type="number" name="quantity"/>
    <hl/>
   <label for="price">Price:</label>
   <input id="price" step="0.01" type="number" name="price"/><br/><br/>
    <br/>
   <input class="btt-submit-album"type="submit" value="ADD ALBUM"/>

   <a class="button" href="../artists/new">GO BACK?</a>
 </center>
</form>
